$text-black: #030303;
$text-gray: #606060;
$main-bg-color: #f9f9f9;
$btn-search-color: #f8f8f8;
$btn-color: #f2f2f2;
$header-height: 56px;
$sidebar-width: 74px;
$btn-top-height: 30px;
$main-height: calc(100% - $header-height);
$main-width: calc(100% - $sidebar-width);
