html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
textarea,
button,
select {
  outline: none;
}

input {
  line-height: normal;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

@keyframes sidebar-show {
  from {
    left: -240px;
  }
  to {
    left: 0px;
  }
}
body {
  font-family: "roboto", sans-serif;
}

html ::-webkit-scrollbar {
  width: 8px;
}
html ::-webkit-scrollbar-track {
  box-shadow: inset 4px 4px 6px #f9f9f9;
}
html ::-webkit-scrollbar-thumb {
  background-color: #606060;
  border-radius: 10px;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

.container {
  margin: 0 auto;
  padding: 0 16px;
}

.overlay {
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in-out;
  z-index: 2500;
}
.overlay.active {
  display: block;
}

.header {
  height: 56px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2000;
  background-color: rgba(255, 255, 255, 0.95);
}
.header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-start {
  display: flex;
  align-items: center;
}
.header-start .menu-icon i {
  font-size: 24px;
  cursor: pointer;
}
.header-start .logo {
  line-height: 56px;
  display: flex;
  align-items: center;
  margin-left: 20px;
  position: relative;
  cursor: pointer;
}
.header-start .logo i {
  color: #ff0000;
  font-size: 38px;
}
.header-start .logo-text {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -1px;
}
.header-start .logo-nation {
  font-size: 10px;
  color: #606060;
  margin-top: -14px;
  margin-left: 4px;
}
.header-center .search {
  display: flex;
}
.header-center .search-form {
  display: flex;
}
.header-center .search-input-wrap {
  display: flex;
  justify-content: space-between;
  height: 40px;
  border: solid 1px #ccc;
  max-width: 536px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.header-center .search-input-wrap .search-icon {
  display: none;
  font-size: 20px;
  line-height: 40px;
  padding: 0 0 0 10px;
  transition: all 0.3s ease-in-out;
}
.header-center .search-input-wrap .search-icon.active {
  display: block;
}
.header-center .search-input-wrap .search-input {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  border: none;
  outline: none;
  flex: 1;
  margin-right: 40px;
  padding-left: 10px;
  min-width: 464px;
}
.header-center .search-input-wrap .search-tool {
  width: 19px;
  height: 11px;
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}
.header-center .search-input-wrap .search-tool:hover {
  cursor: pointer;
}
.header-center .search-button {
  width: 64px;
  border: solid 1px #ccc;
  border-left: none;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  background-color: #f6f6f6;
}
.header-center .search-button:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}
.header-center .search-button i {
  font-size: 20px;
}
.header-center .search-voice {
  height: 40px;
  width: 40px;
  text-align: center;
  background-color: #f9f9f9;
  border-radius: 50%;
  margin-left: 6px;
  cursor: pointer;
}
.header-center .search-voice i {
  font-size: 22px;
  line-height: 40px;
}
.header-end {
  display: flex;
  align-items: center;
  height: 100%;
}
.header-end > div {
  margin-left: 8px;
  padding: 8px;
}
.header-end .video-plus {
  cursor: pointer;
}
.header-end .video-plus-icon {
  width: 24px;
  margin-bottom: 4px;
}
.header-end .youtube-type {
  cursor: pointer;
}
.header-end .youtube-type-icon {
  font-size: 24px;
}
.header-end .notice {
  cursor: pointer;
  position: relative;
}
.header-end .notice-icon {
  font-size: 24px;
}
.header-end .notice-count {
  position: absolute;
  top: 3px;
  right: -1px;
  font-size: 12px;
  width: 20px;
  height: 20px;
  background-color: #cc0000;
  line-height: 16px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  border: solid 2px #fff;
}
.header-end .user {
  padding: 0 6px;
  margin-left: 20px;
}
.header-end .user-image {
  width: 32px;
  border-radius: 50%;
}

.sidebar {
  width: 74px;
  position: fixed;
  left: 0;
  top: 56px;
  bottom: 0;
  padding-top: 2px;
}
.sidebar-list {
  display: flex;
  flex-direction: column;
}
.sidebar-icon {
  width: 24px;
  margin-bottom: 6px;
}
.sidebar-item {
  height: 72px;
  padding: 14px 2px;
}
.sidebar-item:hover {
  background-color: #f8f8f8;
}
.sidebar-link {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.sidebar-text {
  font-size: 10px;
  color: #030303;
  font-weight: 400;
  line-height: 1.4;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sidebar-large {
  width: 240px;
  position: fixed;
  top: 0;
  left: -240px;
  bottom: 0;
  z-index: 3000;
  background-color: #fff;
  overflow-y: auto;
  transition: all 0.2s ease-in-out;
}
.sidebar-large-header {
  padding-left: 16px;
}
.sidebar-large-link {
  display: flex;
  height: 40px;
  align-items: center;
  padding-right: 18px;
  margin-right: 6px;
  padding-left: 24px;
}
.sidebar-large-link > svg {
  width: 24px !important;
  height: 24px !important;
}
.sidebar-large-link > span {
  margin-left: 24px;
  color: #030303;
  font-size: 14px;
}
.sidebar-large-link:hover {
  background-color: #e5e5e5;
}
.sidebar-large-footer div > a {
  color: #606060;
  display: inline-block;
  font-size: 12.5px;
  margin-right: 8px;
  font-weight: 600;
  line-height: 1.6;
}
.sidebar-large-footer div {
  margin: 12px 24px;
}
.sidebar-large-footer #copyright {
  font-size: 12px;
  font-weight: 400;
  color: #a0a0a0;
  line-height: 2;
}
.sidebar-large.active {
  left: 0;
}

.sidebar-separate {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-right: 6px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.sidebar-section-title {
  text-transform: uppercase;
  font-size: 14px;
  color: #606060;
  font-weight: 500;
  padding: 8px 24px;
}

.filterbar {
  position: fixed;
  top: 56px;
  left: 74px;
  right: 0;
  z-index: 2000;
  background-color: rgba(255, 255, 255, 0.96);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}
.filterbar .filter-list {
  display: inline-flex;
  align-items: center;
  list-style-type: none;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.filterbar .filter-list::-webkit-scrollbar {
  display: none;
}
.filterbar .filter-item {
  margin: 12px;
  border-radius: 20px;
  background-color: #f2f2f2;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.filterbar .filter-item:not(.active):hover {
  background-color: #e5e5e5;
}
.filterbar .filter-item.active {
  background-color: #030303;
}
.filterbar .filter-item.active a {
  color: #fff;
}
.filterbar .filter-link {
  display: block;
  height: 30px;
  line-height: 30px;
  padding: 0 12px;
  font-size: 14px;
  color: #030303;
  white-space: nowrap;
  max-width: 500px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main {
  background-color: #f9f9f9;
  height: calc(100% - 56px);
  width: calc(100% - 74px);
  margin-left: 74px;
  margin-top: 112px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px;
  padding: 16px;
}
.main-video {
  min-height: 250px;
  height: auto;
}
.main-video {
  cursor: pointer;
}
.main-video-thumbnail {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
.main .video-title {
  font-size: 14px;
  font-weight: 600;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  margin-top: 12px;
  margin-bottom: 10px;
}
.main .video-info {
  flex: 1;
  padding-right: 24px;
}
.main .video-info .view-count,
.main .video-info .time-release {
  color: #606060;
  font-size: 12px;
  margin-right: 4px;
}
.main .video-info .time-release {
  margin-left: 8px;
  position: relative;
}
.main .video-info .time-release:before {
  content: "";
  display: block;
  width: 2.6px;
  height: 2.6px;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: -6px;
  background-color: #606060;
}
.main .user-avatar {
  width: 36px;
  border-radius: 20px;
}
.main .user-link {
  margin: 12px 12px 0 0;
  display: block;
}
.main .user-name {
  font-size: 12px;
  color: #606060;
}
.main .user-name i {
  font-size: 14px;
}
.main .line-wrap {
  display: inline-flex;
}

/*# sourceMappingURL=app.css.map */
